<h1>退会確認</h1>
<h3>本当に退会しますか？</h3>
<h5>退会すると会員登録情報や</h5>
<h5>これまでの購入履歴や閲覧ができなくなります。</h5>

<div><%= link_to "退会しない", customers_my_page_path %></div>
<div><%= link_to "退会する", customers_withdraw_path, method: :patch %></div>