<div class = "container">
  <div class = "row">
   <div class = "mx-auto" style = "width: 800px;">
    <div class = "mb-4">
      <ol class = "nav d-flex justify-content-around">
        <li class = "d-inline-block bg-light text-center col-md-3 border border-secondary" style="width: 100px;"><strong>1.入力</strong></li>
        <li class = "d-inline-block bg-light text-center col-md-3 border border-secondary" style="width: 100px;"><strong>2.確認</strong></li>
        <li class = "current d-inline-block bg-info text-center col-md-3 border border-secondary" style="width: 100px;"><strong>3.完了</strong></li>
      </ol>
      <br>
      <br>
      <br>
      <h2 class = "text-md-center mt-5">ご注文ありがとうございました!!</h2>
      <h4 class = "text-md-center mt-3">
        商品の発送状況などはマイページにあるボタンから<br>
        注文履歴一覧に移動してご覧になれます。<br>
        またのご利用お待ちしております。
      </h4>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>