<ol class = "nav">
  <li class = "d-inline-block bg-light text-center" style="width: 100px;">1.入力</li>
  <li class = "d-inline-block bg-light text-center" style="width: 100px;">2.確認</li>
  <li class = "current d-inline-block bg-info text-center" style="width: 100px;">3.完了</li>
</ol>
<h2>ご注文ありがとうございました!!</h2>