<div class="container">
  <h2 class="mt-5">管理者 ログイン</h2>
  <div class="row">
    <div class="mx-auto mt-5">
    <table class="table table-borderless">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40" %></td>
        </tr>
        <tr>
          <td>パスワード</td>
          <td><%= f.password_field :password, autocomplete: "current-password", size: "40" %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class:"btn btn-back" %></td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>